@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

:root {
    --textColor: #FFFFFF;
    --font: 'Karla', sans-serif;
    --yellowText: #FFDD00;
    --bgColor: #3590F9;
}

body {
  align-items: center;
  background-color: #000;
  display: flex;
  justify-content: center;
  height: 100vh;
}

form {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  height: 500px;
  padding: 20px;
  width: 320px;
}

.header {
    color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.description {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.twitter, .telegram {
    color: var(--yellowText);
    background: none;
    text-decoration: underline;
    text-decoration-color: var(--yellowText);
    -webkit-tap-highlight-color: transparent;
}

.sheet {
    height: 50px;
  position: relative;
  width: 100%;
}

.name, .mail, .links {
    position: center;
    background-color: transparent;
    color: var(--textColor);
    font-weight: bold;
    text-align: center;
    border: solid var(--textColor) 2px;
    border-radius: 10px;
    font-size: 1rem;
    text-align: right;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px; 
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;  
}

input, textarea {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
} 


.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  // outline: 0;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #06b;
}
