@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

:root {
    --textColor: #FFFFFF;
    --blueText: #0073E5;
    --greyText: #9B9B9B;
    
    --font: 'Karla', sans-serif;
    --headerFont: 'Poppins', sans-serif, 'arial';
    --describeFont: 'Roboto', sans-serif, 'arial';
    
    --bgColor: #2D2D2D;
    --bgInput: #444442;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    margin: 0;
    height: 100%;

    background-color: var(--bgColor);
    display: flex;
    flex-direction: column;

    font-family: var(--font);
    color: var(--textColor);
    scroll-behavior: smooth;
}

.header {
    font-family: var(--headerFont);
    font-weight: 600;
    font-size: 72px;
    text-align: center;
    line-height: 1.25;
    display: block;
}

.description {
    font-family: var(--describeFont);
    font-weight: 400;
    font-size: 20px;
    color: var(--greyText);
    line-height: 1.5;
    text-align: center;
    margin: 27px auto;
}

.twitter, .telegram {
    color: var(--blueText);
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    height: fit-content;
    min-height: 100%;
    box-sizing: border-box;
}

.form {
  max-width: 675px;
  width: 100%;
  display: block;
  position: relative;
  margin: 27px auto;
  padding: 20px;
  box-sizing: border-box;
  background-color: transparent;
  color: var(--textColor);
}

.name, .mail, .links {
   border-color: transparent;
   border-radius: 12px;
   font-size: 18px;
   outline: 0;
   margin-left: 10px;
   margin-right: 10px;
   margin-bottom: 10px;
   padding: 10px; 
}

input, textarea {
  background-color: var(--bgInput);
  border-radius: 12px;
  border: 0;
  font-size: 18px;
  outline: 0;
  text-align: left;
  width: 100%;
  padding: 20px;
}

button {
  background-color: var(--blueText);
  color: var(--textColor);
  border-radius: 12px;
  border: 0;
  font-size: 18px;
  outline: 0;
  width: 100%;
  padding: 20px;
  border-radius: 12px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
}
