@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

:root {
    --textColor: #FFFFFF;
    --blueText: #0073E5;
    --greyText: #9B9B9B;
    
    --font: 'Karla', sans-serif;
    --headerFont: 'Poppins', sans-serif, 'arial';
    --describeFont: 'Roboto', sans-serif, 'arial';
    
    --bgColor: #2D2D2D;
    --bgInput: #444442;
}

html {
    margin: auto;
    height: 100%;
    background-color: var(--bgColor);
    display: flex;
    flex-direction: column;

    font-family: var(--font);
    color: var(--textColor);
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    margin: auto;
    padding: 0;
    height: fit-content;
    min-height: 100%;
    width: 100%;
    display: block;
    position: center;
}

.header {
    font-family: var(--headerFont);
    font-weight: 600;
    font-size: 48px;
    text-align: center;
    margin: 10px auto;
}

.description {
    font-family: var(--describeFont);
    font-weight: 400;
    font-size: 20px;
    color: var(--greyText);
    text-align: center;
    line-height: 1.5;
    margin-top: 10px;
    margin-bottom: 0;
}

.twitter, .telegram {
    color: var(--blueText);
    text-decoration: none;
}

.form {
    max-width: 675px;
    width: 100%;
    display: block;
    position: center;
    margin: 10px auto;
    padding: 10px;
    background-color: transparent;
    color: var(--textColor);
    box-sizing: border-box;
}

.name, .mail, .links, .submit {
   border-color: transparent;
   border-radius: 12px;
   font-size: 18px;
   outline: 0;
   padding: 10px; 
   width: 100%;
   box-sizing: border-box;
}

input, textarea {
  background-color: var(--bgInput);
  border-radius: 12px;
  border: 0;
  font-size: 18px;
  outline: 0;
  text-align: left;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  color: var(--textColor);
}

input, textarea {
    color: var(--textColor);
}

textarea:focus, input:focus {
    color: var(--textColor);
}

button {
  background-color: var(--blueText);
  color: var(--textColor);
  border-radius: 12px;
  border: 0;
  font-size: 18px;
  outline: 0;
  text-align: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

footer {
    font-family: var(--describeFont);
    font-weight: 400;
    font-size: 15px;
    color: var(--greyText);
    text-align: center;
    line-height: 1.5;
    position: relative;
    bottom: 0;
    width: 100%;
}

.alisa {
    color: var(--blueText);
    background: none;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

@media (hover: hover) {
    .alisa:hover {
    color: var(--blueText);
    }
}

.alisa:active {
    background-color: transparent;
}
